/Práticas_Programação/Aula_8_PP/Aula_8_Arquivos/nbproject/private/
/Práticas_Programação/Aula_8_PP/Aula_8_Arquivos/build/
/Práticas_Programação/Revisao_N2/Revisão_N2/nbproject/private/
/Práticas_Programação/Revisao_N2/Revisão_N2/build/
/Linguagem_Programação/Revisao_N2/Revisao_N2/nbproject/private/
/Linguagem_Programação/Revisao_N2/Revisao_N2/build/